* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: #c6e8d1;
}

section {
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
}

header .container-header, 
section .container-main,
section .container-produto {
    display: grid;
}   


/* ========================================================================== */
/* Header */
.container-header {
    grid-template-columns: 50% 50%;
    max-width: 1280px;
    margin: 0 auto;
    place-self: center;
}

header {
    background-color: #85ac69;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 3rem;
    color: #333;
}

header nav {
    place-self: center;
    justify-self: right;
}

header nav ul {
    align-content: center;
}

header nav li {
    margin: 8px 0px 0px 30px;
    font-size: 2rem;
    display: flex;
    float: left;
}

header nav li a {
    color: #333;
    text-decoration: none;
}


/* ========================================================================== */
/* Are Sobre */
.container-main {  
    min-height: 400px;
    grid-template-columns: 30% 70%;
}

.container-main img {
    height: 350px;
    margin-top: 32px ;
}

.container-main div {
    margin: 20px;
    text-align: justify;
}

.container-main div h2 {
    margin: 20px 0px;
    height: auto;
}


/* ========================================================================== */
/* Produtos */
section h2 {
    padding: 10px 0px;
}

.container-produto {  
    grid-template-columns: 25% 25% 25% 25%;
}

.container-produto div {
    padding: 10px 0px;
    
}
.container-produto div img {
    height: 300px;
    width: 300px;
}
.container-produto div h3 {
    margin: 8px 0px;
}
.container-produto div p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 300px;
    height:40px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.container-produto div button {
    margin: 8px 0px;
}

button {
    background-color: #85ac69;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
}


/* ========================================================================== */
@media (min-width: 641px) and (max-width: 1280px) {
    * {
        justify-self: center;
    }

    header nav {
        place-self: center;
    }

    section h2 {
        margin: 20px;
        text-align: justify;
    }
    
    .container-main {
        grid-template-columns: 100%;
    }
    .container-produto {
        grid-template-columns: 33% 33% 33%;
    }
}

@media (max-width: 940px) {
    .container-produto {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 640px) {
    * {
        justify-self: center;
    }

    section h2 {
        margin: 20px;
        text-align: justify;
    }

    header h1 {
        font-size: 2.5rem;
        max-width: 140px;
    }
    
    header nav li {
        font-size: 1.5rem;
    }

    .container-main {
        grid-template-columns: 100%;
    }
    .container-produto {  
        grid-template-columns: 100%;
    }
}

